build/*
devel/*
logs/*
.catkin_tools/*
.catkin_workspace
src/CMakeLists.txt

__pycache__/
*.pyc

.vscode/
src/.vscode/

venv/
site/

*.bag

result/
*.blend
*.blend1


*.mp4

aruco_marker/

test.ipynb
temp.py

multiagent_results/abunchofresults/useless/

multiagent_results/abunchofresults/moving_leader_one_landmark_simpler_motion_setting_1_agent1_3d.html

simulation_script/2d_trajectories.png
simulation_script/3d_trajectories.html

*.html
*.csv
*.zip

simulated_result/ricatti_solution_for_100s_step_1e-3_rtol_atol_1e-7.txt
simulated_result/ricatti_solution_own_rk45_sim3_without_noise.txt
simulated_result/ricatti_solution_own_rk45_sim4_without_noise.txt
simulated_result/ricatti_solution_own_rk45_sim1_without_noise.txt

src/pixy_camera/include/pixy2/